name: template_workspace

environment:
  sdk: ^3.10.4

workspace:
  - apps/app
  - packages/core
  - packages/dependency_override
  - packages/designsystem
  - packages/domain
  - packages/infrastructure/firebase
  - packages/infrastructure/mock
  - packages/infrastructure/shared_preferences

dev_dependencies:
  altive_lints: ^2.0.0
  flutter_lints: any
  grinder: ^0.9.5
  melos: ^7.0.0-dev.7
  path: ^1.9.0
  yaml: ^3.1.2
  yaml_edit: ^2.2.1

dependency_overrides:
  analyzer: ^9.0.0

melos:
  sdkPath: .fvm/flutter_sdk

  command:
    bootstrap:
      environment:
        sdk: ^3.10.4
        flutter: ^3.38.5
      dependencies:
        collection: any
        flutter_hooks: any
        freezed_annotation: any
        go_router: any
        hooks_riverpod: ^2.6.1
        intl: any
        json_annotation: any
        logger: any
        riverpod: ^2.6.1
        riverpod_annotation: ^2.6.1
        slang: ^4.1.0
        slang_flutter: ^4.1.0
      dev_dependencies:
        alchemist: ^0.10.0
        build_runner: ^2.4.14
        flutter_gen_runner: any
        freezed: any
        json_serializable: any
        riverpod_generator: ^2.6.1
        slang_build_runner: ^4.1.0
        test: any
    clean:
      hooks:
        post: melos exec --flutter --concurrency=3 -- "flutter clean"
          melos exec --flutter --file-exists="ios/Podfile.lock" -- "cd ios && rm Podfile.lock"
          melos exec --flutter --file-exists="macos/Podfile.lock" -- "cd macos && rm Podfile.lock"

  scripts:
    # ビルド関連
    build:app:
      description: 各プラットフォーム毎にモバイルアプリをビルドする
      stpes:
        - build:app:android
        - build:app:ios
    build:app:ios:
      description: Android向けにモバイルアプリをビルドする
      run: melos exec --scope="flutter_app" -- flutter build ipa
        --export-options-plist=ExportOptions.plist
        --dart-define-from-file=flavor/prod.json
    build:app:android:
      description: iOS向けにモバイルアプリをビルドする
      run: melos exec --scope="flutter_app" -- flutter build
        appbundle --dart-define-from-file=flavor/prod.json

    # コード生成関連
    gen:
      description: build_runner, slangの生成コマンドを実行する
      steps:
        - gen:build
        - gen:slang

    gen:build:
      description: build_runner を使用してコードを生成する
      run: dart run build_runner build -d
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: build_runner
    gen:build:watch:
      description: build_runner watch を使用して、変更箇所を検知しつつコードを生成する。
      run: dart run build_runner watch -d
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: build_runner

    gen:slang:
      description: slang を使用してコードを生成する
      run: dart run slang
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: slang
    gen:slang:watch:
      description: slang watch を使用して、変更箇所を検知しつつコードを生成する。
      run: dart run slang watch
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: slang

    gen:diff:main:
      description: main ブランチと差分のあるパッケージのみ build_runner と i18n の生成コマンドを実行します。
      steps:
        - gen:build:diff:main
        - gen:i18n:diff:main
    gen:build:diff:main:
      description: main ブランチと差分のあるパッケージのみ build_runner を使用してコードを生成します。
      run: dart run build_runner build -d
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: build_runner
        diff: origin/main...HEAD
    gen:slang:diff:main:
      description: main ブランチと差分のあるパッケージのみ slang を使用して国際化ファイルを生成します。
      run: dart run slang
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: slang
        diff: origin/main...HEAD

    # dart fix関連
    fix:
      exec: dart fix --apply lib
      description: Run dart fix.
      packageFilters:
        dirExists: lib
    fix:check:
      exec: dart fix --dry-run lib
      description: Check dart fix.
      packageFilters:
        dirExists: lib
    fix:custom:
      description: すべてのパッケージに custom_lint の fix を実行します。
      exec: dart run custom_lint --fix
      packageFilters:
        dirExists: lib
        dependsOn: custom_lint

    # テスト関連
    test:golden:
      run: flutter test --tags=golden
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: alchemist
        dirExists:
          - test
    test:golden:update:
      run: flutter test --update-goldens
      exec:
        orderDependents: true
      packageFilters:
        dependsOn: alchemist
        dirExists:
          - test
    test:ci:
      run: flutter test --dart-define=CI=true
      exec:
        failFast: true
      packageFilters:
        dirExists:
          - test

  ide:
    intellij:
      # Disabling IntelliJ's automatic configuration.
      # This is to support different build configurations for environments.
      enabled: false
